@keyframes headerAnimation {
  0% {top:-30px;}
  100% {top:0;}
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.events-desript{
  overflow: scroll;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .rotate1 {
  transform: rotateY(-180deg);
}

.flip-card:hover .rotate2{
  transform: rotateY(180deg);
}

.flip-card:hover .rotate3{
  transform: rotateY(180deg);
}

.flip-card:hover .rotate4 ,
.flip-card:hover .rotate7 {
  transform: rotateY(-180deg);
}
.flip-card:hover .rotate5{
  transform: rotateY(180deg);
}
.flip-card:hover .rotate6,
.flip-card:hover .rotate9{
  transform: rotateY(-180deg);
}
.flip-card:hover .rotate8{
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

