.item1 {
  width: 100%;
  height: 100%;
}
.flip-card-back {
  background-color: white;
  transform: rotateY(180deg);
}
.js{
  position: absolute;
  bottom: 0;
  right: 0;
}
.blog, .events{
  position: absolute;
  top: 47%;
  left: 45%;
}
.rotate2 p{
  position: absolute;
  top: 13%;
  left: 10%;
}
.rotate2 .flip-card-front{
  background-color: #48b86c;
  color: white;
  font-family: sans-serif;
  font-size: 11vw;
  font-weight: 100;
}
.rotate5 .flip-card-front{
  background-color: #7d88b8;
  font-family: sans-serif;
  font-size: 11vw;
  font-weight: 100;
}
.rotate6 .flip-card-front{
  background-color: #591e6b;
  color: white;
  font-family: sans-serif;
  font-size: 9vw;
  font-weight: 100;
}

.rotate3 .flip-card-front{
  background-color:  #f6c95f;
  font-family: sans-serif;
  font-size: 8vw;
  font-weight: 100;
}
.rotate9 .flip-card-front{
  background-color:  #021a44;;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  font-weight: 100;
}
.rotate4 .flip-card-front{
  background-color: #bb2139;
  font-family: sans-serif;
  font-size: 8vw;
  font-weight: 100;
  color: white;
}
.rotate8 .flip-card-front{
  background-color: #033a95;
  font-family: sans-serif;
  font-size: 1vw;
  font-weight: 100;
  color: white;
}
 .rotate7 .flip-card-front{
   background-color: #298ffe;
   font-family: sans-serif;
   font-size: 1vw;
   font-weight: 100;
   color: white;
 }
.rotate2 .flip-card-back{
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.rotate8 .flip-card-back,
.rotate9 .flip-card-back {
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}
.rotate7 .flip-card-back{
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
}
.btn-join{
  position: absolute;
  top:50%;
  left: 41%;
  border: none;
  padding: 10px;
  color: white;
  width: 18%;
  border-radius: 6%;
  background-color: #298ffe;
}
.btn-join:hover{
  cursor: pointer;
  background-color: #033a95;
}