.img-logo{
  width: 105px;
  height: 30px;
}

.header{
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.bell:hover, .profile:hover{
  opacity: 0.5;
}

header {
  z-index: 999;
  animation-name: headerAnimation;
  animation-duration: 0.8s;
  padding: 8px;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: white;
}

.header nav{
  font-size: 30px;
}

.nav-item {
  cursor: pointer;
  display: inline-block;
}

.profile{
  margin-left: 18px;
  color: white;
  padding: 6px 11px 5px 11px;
  align-content: center;
  background-color: #ff8c00;
  border-radius: 50%;
}

ul li{
  display: inline-block;
  position: relative;
}


.profile-item{
  padding: 3px;
  margin: 10px ;
  min-width: 100%;
  text-decoration: none;
  color: black;
  display: block;
}

.profile-item:hover{
  background: #faf7f7;
}

.dropdown{
  margin-top: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 200px; /* Set width of the dropdown */
  background: white;
  display: none;
  position: absolute;
  font-size: 20px;
  z-index: 999;
  right: 0;
}
.dropdown hr{
  width: 90%;
  margin: 0 auto;
}
.profile-name{
  color: #808080;
  padding: 10px;
}

ul li:hover .dropdown{
  display: block;	/* Display the dropdown */
}

.dropdown li{
  display: block;
  width: 90%;
}