.grid-container {
  display: grid;
  padding: 10px;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.grid-item {
  text-align: center;
  font-size: 30px;
}
/* grid-row-start,5 кол 8 ров grid-column-start, grid-row-end и grid-column-end*/
.item1 {
  grid-area: 1/1/6/1;
}
.item2{
  grid-area: 6/1/11/1;
}
.item3{
  grid-area: 1/2/8/2;
}
.item4{
  grid-area: 8/2/11/2;
}
.item5{
  grid-area: 1/3/5/5;
}
.item6{
  grid-area: 5/3/11/3;
}
.item7{
  grid-area: 5/4/8/5;
}
.item8{
  grid-area: 8/4/10/5;
}
.item9{
  grid-area: 10/4/11/5;
}